@charset "utf-8";
/* CSS Document */



#slideshow {
  overflow: hidden;
  height: 200px;
  width: 800px;
  margin: 0 auto;
  text-align:center;
}



* {
	box-sizing:border-box
  }
  h2 {
	text-align: center;
  }
  /* Slideshow container */
  .slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
  }
  /* Ẩn các slider */
  .mySlides {
	  display: none;
  }
  /* Định dạng nội dung Caption */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
   
  /* định dạng các chấm chuyển đổi các slide */
  .dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
	background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-name: fade;
	animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
   
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }

.slide-wrapper {
  width: 2000px;
  -webkit-animation: slide 14s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 740px;
}


@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  80% {margin-left: -1456px;}
}
	background-color: #E2E2E2;
	width: 1100px;
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}


.warrp
{
	width: 1100px;
	float: left;
	border: 1px solid #666;
}
#header
{
	width: 100%;
	float: left;
	border-bottom: 1px solid #666;
}
.main
{
	width: 80%;
	float: left;
	background-color: #fff;
}
#footer
{
	
	width: 100%;
	float: right;
	border-top: 1px solid #666;
	background-color: #0f4067;
	color: #fff;
}


.left
{
	width: 750px;
	float: left;
	border-right: 1px solid #666;
}
.right
{
	width: 230px;
	float: left;
}
.chien1{
width:20%;
float:right;
height:150px;
}
